[submodule "backend"]
	path = backend
	url = git://github.com/Coding/WebIDE-Backend.git
[submodule "frontend"]
	path = frontend
	url = git://github.com/hackape/WebIDE-Frontend.git
[submodule "frontend-webjars"]
	path = frontend-webjars
	url = git://github.com/Coding/WebIDE-Frontend-Webjars.git
